.wrap__table {
    overflow: scroll;
    overflow-x: hidden;
    height: 400px;
}

.clients__table {
    width: 100%;
    padding: 24px 32px 32px 32px;
    border: 1px solid #ACB5BD;
    border-radius: 8px;

    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.clients__table thead tr {
    background-color: #07725d;
    color: #ffffff;
    text-align: left;
}

.clients__table th,
.clients__table td {
    padding: 12px 15px;
}

.clients__table td:hover {
    font-weight: bold;
}

.clients__table td:first-child {
    text-align: center;
}

.clients__table tr {
    border-bottom: 1px solid #dddddd;
}

.clients__table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.clients__table tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.clients__delete:hover {
    color: white;
    background-color: #07725d;
}

.clients__input {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    gap: 8px;
}

.clients__add {
    width: 100%;
}

.clients__input>input {
    width: 100%;
    padding: 12px 20px;
}

.clients__input>input[type=text]:focus {
    outline: none;
    border: 2px solid #07725d;
}

.wrap__blocks {
    display: flex;
    flex-wrap: wrap;

    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
}

.clients__block {
    width: 30%;

    display: flex;
    flex-direction: column;
    padding: 5px;

    line-height: 30px;
    box-sizing: border-box;
    border: 1px solid #ACB5BD;
}

.clients__block:nth-child(3n+3) {
    width: 40%;
}